.all-content {
    background-color: lightgray;
    padding-top: 15px;
}

#link-birhday-app{
    color: white;
    text-decoration: underline;
}
nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-bithday{

    left: 0px;
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
}
.title-bithday > h1{
    margin: 0px;
    font-size: 22px;
}
#fake-btn{
    width: 100px;
    padding: 10px;
    height: 100%;
    text-align: center;
    color: white;
}

#color-nav{
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding-left: 5px;
    padding-right: 5px;
}
header {
    position: sticky;
    top: 0;
    z-index: 1;
}
#demoinfo{
    color: white;
    text-align: center;
}
#color-footer {
    background-color: white;
    position: sticky;
    bottom: 0px;
    width: 100%;
}
button{
    background-color: transparent;
    border: 1px solid transparent;
}
button:hover{
    background-color: transparent;
    border: 1px solid lightgray;
}

/* Totes les cartes*/
.card {
    border-radius: 3px;
    margin: 10px;
    width: 200px;
    background: #A3DAE1;
}

.subtitle-carta {
    height: 20px;
}

#color-foot{
    background: lightgray;
    padding: 20px;
}
select {
    background-color: white;
    border: none;
    padding: 10px;
    width: 200px;
}

.flexcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flexitem {
    display: inline;
}




footer {
    background-color: black;

}

.footer-btns {
    position: -webkit-sticky;
    position: sticky;
    z-index: 1;
    bottom: 0px;
    width: 100%;
    line-height: 10px;
}


.footer-btns>button {
    flex: auto;
    margin: 10px;
}