/* grid */
#quiz {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "q0 q0"
        "a0 a1"
        "a2 a3";
}

#question {
    grid-area: q0;
}

#pt0 {
    grid-area: a0;
}

#pt1 {
    grid-area: a1;
}

#pt2 {
    grid-area: a2;
}

#pt3 {
    grid-area: a3;
}

#winnerUrl{
    display: none;
}