body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    animation: aparece 5s forwards;
    text-align: center;
    color: white;
    opacity: 0;
    margin-bottom: 20px;
}

iframe{
    height: 400px;
    width: 100vw;

}

body {
    background-color: black;
}

@keyframes aparece {
    0% {
        transform: scale(0.9);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}