.buttons {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  button {
    padding: 10px 20px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    background-color: #803904;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    transition: background-color 0.5s ease;
    &&:hover {
      background-color: black;
    }
  }
}
#img-container {
  display: none;
  padding: 10px;
  justify-content: center;
  align-items: center;
}
#img-qr {
  border: 10px solid white;
  border-radius: 10px;
}

.panel {
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, 100px);
  grid-template-rows: repeat(5, 100px);
  gap: 5px;
  background-color: black;
  padding: 10px;
}
.panel-item {
  background-color: #ccc;
  border: 2px solid #999;
  border-radius: 10px;
  display: grid;
  place-items: center;
  font-size: 4rem;
}
body {
  background-color: #7f2d12;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='125' height='125' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23722207' fill-opacity='0.77'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.77'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
}
#container {
  display: grid;
  place-items: center;
  padding-top: 50px;
}
.guide {
  position: absolute;
  padding: 5px;
  z-index: 1;
}
.top-guide {
  left: 50%;
  top: -20px;
  transform: translateX(-50%);
  width: 40%;
  height: 6px;
  border: 2px solid white;
}
.bottom-guide {
  left: 50%;
  bottom: -20px;
  transform: translateX(-50%);
  width: 40%;
  height: 6px;
  border: 2px solid white;
}

.left-guide {
  top: 50%;
  left: -20px;
  transform: translateY(-50%);
  height: 40%;
  width: 6px;
  border: 2px solid white;
}
.right-guide {
  top: 50%;
  right: -20px;
  transform: translateY(-50%);
  height: 40%;
  width: 6px;
  border: 2px solid white;
}

@media (max-width: 576px) {
  .panel {
    grid-template-columns: repeat(5, 80px);
    grid-template-rows: repeat(5, 80px);
  }
}

@media (max-width: 500px) {
  .panel {
    grid-template-columns: repeat(5, 70px);
    grid-template-rows: repeat(5, 70px);
  }
  .panel-item {
    font-size: 3rem;
  }
}

@media (max-width: 490px) {
  .panel {
    grid-template-columns: repeat(5, 60px);
    grid-template-rows: repeat(5, 60px);
  }
  .panel-item {
    font-size: 2.7rem;
  }
}

@media (max-width: 480px) {
  .panel {
    grid-template-columns: repeat(5, 50px);
    grid-template-rows: repeat(5, 50px);
  }
  .panel-item {
    font-size: 2.1rem;
  }
}

@media (max-width: 440px) {
  .panel {
    grid-template-columns: repeat(5, 45px);
    grid-template-rows: repeat(5, 45px);
  }
  .panel-item {
    font-size: 2rem;
  }
}
