body {
    /* green screen */
    background-color: #171929;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(180,768,359)'%3E%3Cstop offset='0' stop-color='%23171929'/%3E%3Cstop offset='1' stop-color='%232D303F'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='644' height='536.7' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.03'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}


html,
body {
    height: 100%;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.element1 {
    flex: 0 1 auto;
}

.element3 {
    flex: 0 1 auto;
}

.element2 {
    flex: 1 1 auto;
}


h2 {
    color: white;
    text-align: center;
}

label {
    color: white;
}

/* LOGIN */
#login {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;

    .select-opt {
        background: transparent;
        border: 1px solid lightgray;
        border-radius: 5px;
        color: white;
        font-size: 18px;
        padding: 8px;
        text-align: center;
        margin-bottom: 30px;
    }

    .select-opt>option {
        background-color: black;
        color: white;
    }

    .start-btn {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    a {
        border: 1px solid white;
        margin-top: 10px;
        margin-bottom: 10px;
        color: white;
        text-decoration: none;
        font-size: 20px;
        padding: 10px 40px 10px 40px;
        border-radius: 6px;
        text-align: center;
        transition: all 0.5s;

        &&:hover {
            background-color: white;
            color: black;
            cursor: pointer;
        }
    }

    .start-btn>button {

        background-color: transparent;
        border-radius: 6px;
        color: white;
        font-size: 20px;
        border: 1px solid lightgray;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 10px;
        padding-bottom: 10px;
        transition: all 0.5s;
    }

    .start-btn>button:hover {
        background-color: white;
        color: black;
        cursor: pointer;
    }

    .text-input {
        background-color: transparent;
        border-radius: 6px;
        border: 1px solid lightgray;
        padding: 10px;
    }

    .title-input {
        margin-top: 30px;
        margin-bottom: 5px;
        color: white;
    }

    input.text-input {
        color: white;
    }
}


#quiz-and-options {
    margin-bottom: 10px;

    /* la pregunta i les opcoions*/
    .option-quiz {
        border: 1px solid white;
        background-color: #302E82;
        /* background-color: #019029; CORRECTO*/
        /* background-color: #900101; INCORRECTO*/
        padding: 8px;
        color: white;
        border-radius: 6px;
        /* opacity: 0; animation.css*/
    }

    /* les opcions disponibles */
    .answer-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .answer-quiz {
        width: 500px;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        transition: all 0.8s;
    }

    .answer-quiz:hover {
        background-color: orangered;
        text-shadow: #171929;
        cursor: pointer;
    }

    .suboption-quiz {
        color: yellow;
        margin-left: 10px;
        margin-right: 10px;
        font-size: 18px;
    }
}


#presentador {
    position: relative;
    margin-bottom: 15px;

    .img-presentador {
        position: absolute;
        left: 2%;
        bottom: 94%;
    }

    .text-presentador {
        border: 1px solid white;
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 16px;
        padding-bottom: 16px;
        color: white;
    }
}

.btn-presentador {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.btn-presentador>button {
    background-color: transparent;
    border-radius: 6px;
    color: white;
    font-size: 16px;
    border: 1px solid lightgray;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
}

/* COMODINES START */

.comodin-parent {
    background-color: #4B5269;
    padding: 10px;
    border-radius: 6px;
    margin: 0 auto;
    width: 250px;
    margin-top: 50px;
    overflow: unset;
    border: none;
}

.comodin-parent::backdrop {
    background-color: rgba(0, 0, 0, 0.684);
}

.comodin-items {
    /*Espai entre logo i select */
    margin-top: 20px;
    /*Centra els elements al centre */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-comodin {
    background-color: #858585;
    width: 50px;
    /* El hijo es absolute, el padre relativo */
    position: absolute;
    padding-left: 12px;
    padding-right: 8px;
    padding-bottom: 8px;
    padding-top: 8px;
    right: 40%;
    left: 40%;
    top: -30px;
    border-radius: 50%;
}

.close-btn {
    background-color: red;
    color: white;
    padding: 5px 9px 5px 9px;
    border-radius: 50%;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}


/* Comodin Llamada - Contactos*/
.contact-call>button {
    background-color: #0F871B;
    border: none;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 6px;
    color: white;
    font-size: 18px;
    margin: 20px;
    -webkit-box-shadow: 7px 2px 15px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 7px 2px 15px -3px rgba(0, 0, 0, 0.75);
    box-shadow: 7px 2px 15px -3px rgba(0, 0, 0, 0.75);
    cursor: pointer;

    &&:hover {
        background-color: #0e6417;
    }
}

/* Contactos css */
/* Tamany scrollball 'select'*/
.comodin-items>select::-webkit-scrollbar {
    width: 14px;
    background-color: #171929;
    border-radius: 6px;
}

/*select::-webkit-scrollbar-track{
    }*/
.comodin-items>select::-webkit-scrollbar-thumb {
    background-color: #727382;
    border-radius: 6px;
}

.comodin-items>select {
    background-color: #4B5269;
    border: none;
    border-radius: 10px;
    color: white;
    width: 200px;
    margin-top: 20px;
}

.comodin-items>select>option:checked {
    background-color: #303543;
    color: white;
}

.comodin-items>select>option {
    color: white;
    padding: 10px;
    border-radius: 6px;
    font-size: 16px;
    margin: 5px;
}


/* Comodin Llamada - Llamando*/
.call-close>button {
    background-color: transparent;
    border: none;
    margin-top: 20px;
}

#name-call {
    color: white;
    margin-top: 30px;
    font-size: 25px;
    text-decoration: underline;
}

#text-call {
    color: white;
    text-align: center;
    margin: 20px;
}

#time-call {
    font-size: 30px;
    color: white;
}


/*Comodin public */
#public-percent {
    display: grid;
    grid-column: auto auto auto auto;
    grid-row: auto auto auto;

    grid-template-areas:
        "p1 p2 p3 p4"
        "bar1 bar2 bar3 bar4"
        "opta optb optc optd";

}

.item-1 {
    grid-area: p1;
}

.item-2 {
    grid-area: p2;
}

.item-3 {
    grid-area: p3;
}

.item-4 {
    grid-area: p4;
}

.item-5 {
    grid-area: bar1;
}

.item-6 {
    grid-area: bar2;
}

.item-7 {
    grid-area: bar3;
}

.item-8 {
    grid-area: bar4;
}

.item-9 {
    grid-area: opta;
}

.item-10 {
    grid-area: optb;
}

.item-11 {
    grid-area: optc;
}

.item-12 {
    grid-area: optd;
}

#percent-1,
#percent-2,
#percent-3,
#percent-4 {
    background-color: rgb(126, 126, 202);
    padding: 10px;
    height: 100px;
    margin-right: 10px;
}

.percent {
    color: white;
    margin: 5x;
    margin-top: 20px;
}

.public {
    color: yellow;
    margin: 5px;
}


/* comodin de comodines */
.flex-btn-comodines {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.flex-btn-comodines>button {
    background-color: #302E82;
    border-radius: 6px;
    color: white;
    font-size: 20px;
    border: 1px solid lightgray;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 10px;
}

#public-comodin {
    background-color: #303543;
    width: 300px;
    padding: 10px;
    border-radius: 6px;
    font-family: Arial, Helvetica, sans-serif;

    .header,
    .footer,
    .main {
        display: flex;
        justify-content: space-around;
        gap: 10px;
        color: white;

    }

    .footer {
        color: yellow;
    }

    .main {
        height: 200px;
        margin-top: 2px;
        margin-bottom: 2px;
        border-radius: 4px;
        border: 1px solid white;
    }

    .bar-parent {
        height: 100%;
        position: relative;
    }

    .bar-content {
        background-color: lightblue;
        position: absolute;
        bottom: 0px;
        left: -10px;
        width: 20px;
        transition: height 2s; /* no va xd */
    }
}

/* COMODINES END */


nav {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

#resumeGame,
#custom-option {
    display: none;
}

.icon-comodin {
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid white;
    width: 50px;
    height: 50px;
    color: white;
    transition: background-color 0.5s;

    &&:hover {
        background-color: #171929;
        cursor: pointer;
        border: 1px solid black;
    }
}

video {
    margin-top: 10px;
    margin-bottom: 10px;
    /*width: 100%; */
    height: 100px;
    background-color: transparent;

}