/*https://codepen.io/mrdeeds88/pen/rNNZqVV */
@keyframes circle {
  from {
    transform: rotate(0deg) translate(-80px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(-80px) rotate(-360deg);
  }
}

@keyframes moveFromX {
  0% {
    transform: translateX(-200px);
  }
  50% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(-200px);
  }
}

@keyframes moveFromY {
  0% {
    transform: translateY(-200px);
  }
  50% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(-200px);
  }
}

@keyframes onlyrotate {
  0% {
    transform:  translateX(0px)  translateY(0px)  rotate(0deg);
  }

  50% {
    transform: translateX(-200px)  translateY(-200px)  rotate(360deg);
  }

  100%{
    transform:  translateX(0px)  translateY(0px)  rotate(0deg);
  }
}
