header {
  color: white;
  background-color: #352924;
  width: 100%;
  text-align: center;
  font-size: 0.7rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  justify-content: space-between;
}

header > .material-icons {
  font-size: 35px;
  margin-top: 10px;
}
#fixedheader {
  position: sticky;
  top: 0px;
  /* En el z-index:2 esta la solucion*/
  z-index: 3;
}


.meitat-del-contingut{
  
}
h1,
h2,
h3 {
  color: white;
}

.panel-control {
  background-color: rgb(0, 0, 29);
  display: flex;
  justify-content: space-around;
  gap: 10px;
  background-color: #5F4B42;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='600' y1='25' x2='600' y2='777'%3E%3Cstop offset='0' stop-color='%235F4B42'/%3E%3Cstop offset='1' stop-color='%2357453D'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='650' y1='25' x2='650' y2='777'%3E%3Cstop offset='0' stop-color='%235e4a42'/%3E%3Cstop offset='1' stop-color='%2353423a'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='700' y1='25' x2='700' y2='777'%3E%3Cstop offset='0' stop-color='%235e4a41'/%3E%3Cstop offset='1' stop-color='%234f3e37'/%3E%3C/linearGradient%3E%3ClinearGradient id='d' gradientUnits='userSpaceOnUse' x1='750' y1='25' x2='750' y2='777'%3E%3Cstop offset='0' stop-color='%235d4941'/%3E%3Cstop offset='1' stop-color='%234b3b34'/%3E%3C/linearGradient%3E%3ClinearGradient id='e' gradientUnits='userSpaceOnUse' x1='800' y1='25' x2='800' y2='777'%3E%3Cstop offset='0' stop-color='%235c4940'/%3E%3Cstop offset='1' stop-color='%23463831'/%3E%3C/linearGradient%3E%3ClinearGradient id='f' gradientUnits='userSpaceOnUse' x1='850' y1='25' x2='850' y2='777'%3E%3Cstop offset='0' stop-color='%235b4840'/%3E%3Cstop offset='1' stop-color='%2342342e'/%3E%3C/linearGradient%3E%3ClinearGradient id='g' gradientUnits='userSpaceOnUse' x1='900' y1='25' x2='900' y2='777'%3E%3Cstop offset='0' stop-color='%235b483f'/%3E%3Cstop offset='1' stop-color='%233e312b'/%3E%3C/linearGradient%3E%3ClinearGradient id='h' gradientUnits='userSpaceOnUse' x1='950' y1='25' x2='950' y2='777'%3E%3Cstop offset='0' stop-color='%235a473f'/%3E%3Cstop offset='1' stop-color='%233a2d28'/%3E%3C/linearGradient%3E%3ClinearGradient id='i' gradientUnits='userSpaceOnUse' x1='1000' y1='25' x2='1000' y2='777'%3E%3Cstop offset='0' stop-color='%2359473e'/%3E%3Cstop offset='1' stop-color='%23362a25'/%3E%3C/linearGradient%3E%3ClinearGradient id='j' gradientUnits='userSpaceOnUse' x1='1050' y1='25' x2='1050' y2='777'%3E%3Cstop offset='0' stop-color='%2358463e'/%3E%3Cstop offset='1' stop-color='%23312722'/%3E%3C/linearGradient%3E%3ClinearGradient id='k' gradientUnits='userSpaceOnUse' x1='1100' y1='25' x2='1100' y2='777'%3E%3Cstop offset='0' stop-color='%2358463d'/%3E%3Cstop offset='1' stop-color='%232d231f'/%3E%3C/linearGradient%3E%3ClinearGradient id='l' gradientUnits='userSpaceOnUse' x1='1150' y1='25' x2='1150' y2='777'%3E%3Cstop offset='0' stop-color='%2357453D'/%3E%3Cstop offset='1' stop-color='%2329201C'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill-opacity='0.41'%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' x='100' width='1100' height='800'/%3E%3Crect fill='url(%23c)' x='200' width='1000' height='800'/%3E%3Crect fill='url(%23d)' x='300' width='900' height='800'/%3E%3Crect fill='url(%23e)' x='400' width='800' height='800'/%3E%3Crect fill='url(%23f)' x='500' width='700' height='800'/%3E%3Crect fill='url(%23g)' x='600' width='600' height='800'/%3E%3Crect fill='url(%23h)' x='700' width='500' height='800'/%3E%3Crect fill='url(%23i)' x='800' width='400' height='800'/%3E%3Crect fill='url(%23j)' x='900' width='300' height='800'/%3E%3Crect fill='url(%23k)' x='1000' width='200' height='800'/%3E%3Crect fill='url(%23l)' x='1100' width='100' height='800'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}
/*Estrellas del score*/
#stars {
  display: flex;
  color: black;
  flex-direction: column-reverse;
  position: relative;
}

.sub-star {
  margin-left: 13px;
  color: black;
  transition: color 2s;
}
#numberStars {
  color: black;
  font-size: 50px;
  transition: color 2s;
}

#number-star {
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  color: rgb(248, 70, 70);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  font-size: 1.5em;
}
/* cartell de se busca */
.wanted-poster {
  position: relative;
  z-index: 2;
}
#myCharacter {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);

}
/*Timer */

.timer {
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  color: yellow;
  text-align: center;
  font-size: 10px;
}
.timer > h2 {
  margin-bottom: 0px;
}
#timing-wanted {
  font-size: 60px;
}

/*Panell generic per la partida*/
.panel-se-busca {
  border: 1px solid white;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 10px;
}
#panelGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  max-width: 800px;
}
#panelAbsoluto {
  position: relative;
  height: 400px;
  /* El que es veuria fora del panel no ho mostra*/
  overflow: hidden;
}

#panelAbsoluto > img {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  /*animation-name: circle;*/
  animation-duration: 10s;
}

#panelTabla > tr,
td {
  color: white;
  border: 1px solid white;
  padding: 5px;
}
#panelTabla td > button {
  font-size: 18px;
}
#panelTabla {
  margin-bottom: 100px;
}

body {
  margin: 0px;
  background-color: #000000;
}

.center-next-btn {
  display: none; /*display block al iniciar*/
  background-color: rgba(0, 0, 0, 0.392);
  color: white;
  position: absolute;
  padding: 10px;
  border: 1px solid white;
  border-radius: 6px;
  top: 50%;
  left: 50%;
  font-weight: bold;
  transform: translate(-50%, -50%);
  /*En el dos esta la solucion*/
  z-index: 3;
}

.center-next-btn:hover {
  background-color: white;
  color: black;
  padding: 14px;
  transition: all 0.5s;
}
