html,
body {
  height: 100%;
  margin: 0;
  background-color: #000000;
}

.container-wanted {
  display: flex;
  flex-direction: column;
  height: 100%; /* Establece la altura del contenedor para ocupar todo el viewport */
  /*overflow: hidden;*/
}

.wanted-1,
.wanted-3 {
  flex: 0 1 auto; /* Los elementos 1 y 3 tendrán un tamaño según su contenido */
}
.wanted-2 {
  flex: 1 1 auto; /* El elemento 2 ocupará el espacio restante */
  overflow: auto; /* Si el contenido del elemento 2 excede su tamaño, mostrará una barra de desplazamiento interna */
}

header {
  color: white;
  width: 100%;
  text-align: center;
  font-size: 0.7rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  justify-content: space-between;
}

header > .material-icons {
  font-size: 35px;
  margin-top: 10px;
}

h1,
h2,
h3 {
  color: white;
  margin: 5px;
}

.panel-control {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  padding: 10px;
}
/*Estrellas del score*/
#stars {
  display: flex;
  color: black;
  flex-direction: column-reverse;
  position: relative;
}

.sub-star {
  color: black;
  transition: color 2s;
}
#numberStars {
  color: black;
  font-size: 50px;
  transition: color 2s;
}

#number-star {
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  color: rgb(248, 70, 70);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 2em;
  position: absolute;
  bottom: 0px;
  left: -10px;
  font-size: 2.4em;
}

/* cartell de se busca */
#wanted-poster {
  position: relative;
  z-index: 2;
  animation-timing-function: ease-in;
  animation-name: fall-poster;
  animation-duration: 1.5s;
}
#myCharacter {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
}
/*Timer */

.timer {
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  color: yellow;
  text-align: center;
  font-size: 10px;
}
.timer > h2 {
  margin-bottom: 0px;
}
#timing-wanted {
  font-size: 60px;
}

#panelGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  max-width: 800px;
}
#panelAbsoluto {
  position: relative;
  height: 100%;
  /* El que es veuria fora del panel no ho mostra*/
  overflow: hidden;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

#panelAbsoluto > img {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  /*animation-name: circle;*/
  animation-duration: 10s;
}

#panelTabla > tr,
td {
  color: white;
  border: 1px solid white;
  padding: 5px;
}
#panelTabla td > button {
  font-size: 18px;
}

.center-next-btn {
  display: none; /*display block al iniciar*/
  background-color: rgba(0, 0, 0, 0.392);
  color: white;
  position: absolute;
  padding: 10px;
  border: 1px solid white;
  border-radius: 6px;
  top: 50%;
  left: 50%;
  font-weight: bold;
  transform: translate(-50%, -50%);
  /*En el dos esta la solucion*/
  z-index: 3;
}

.center-next-btn:hover {
  background-color: white;
  color: black;
  padding: 14px;
  transition: all 0.5s;
}

.footer-wanted {
  display: flex;
  justify-content: space-around;
  align-items: center; /* <---- NEW    */
  color: white;
  background-color: black;
  padding: 10px;
}
.footer-wanted > .material-icons {
  font-size: 2em;
}
