html,
body {
  font-family: "Orbitron", Verdana, Geneva, Tahoma, sans-serif;

  height: 100%;
  margin: 0;
  /* https://www.svgbackgrounds.com/*/
  background-color: #101010;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(0,768,351)'%3E%3Cstop offset='0' stop-color='%23101010'/%3E%3Cstop offset='1' stop-color='%23000000'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='775' height='645.8' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.03'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

#wanted-header-menu {
  color: white;
  background-color: black;
  width: 100%;
  text-align: center;
  font-size: 0.7rem;
  -webkit-box-shadow: -1px 0px 9px 0px black;
  box-shadow: -1px 0px 9px 0px black;
  margin-bottom: 5px;
}
#score-wantel-container {
  text-align: center;
  max-width: 800px;
  min-width: 80%;
  margin: 0 auto;
}
#score-wanted > ol {
  padding-left: 0px;
}
#score-wanted > ol > li {
  border-bottom: 1px solid white;
  padding-bottom: 5px;
  margin: 10px;
  display: flex;
  list-style: decimal;
  flex-direction: row;
  justify-content: space-between;
}
#menu-wanted {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  color: white;
  height: 100%;
}

#menu-wanted > button {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  background-color: black;
  border: 2px solid white;
  font-size: 16px;
  padding: 8px;
  margin: 10px;
  border-radius: 6px;
  transition: all 0.5s;
}
#menu-wanted > button:hover {
  background-color: white;
  padding: 12px;
  color: black;
}

#container-wanted {
  /*display: flex;*/
  display: none;
  flex-direction: column;
  height: 100%; /* Establece la altura del contenedor para ocupar todo el viewport */
  /*overflow: hidden;*/
  font-family: "Orbitron", Verdana, Geneva, Tahoma, sans-serif;
}

.wanted-1,
.wanted-3 {
  flex: 0 1 auto; /* Los elementos 1 y 3 tendrán un tamaño según su contenido */
}
.wanted-2 {
  min-height: 50px;
  flex: 1 1 auto; /* El elemento 2 ocupará el espacio restante */
  overflow: auto; /* Si el contenido del elemento 2 excede su tamaño, mostrará una barra de desplazamiento interna */
}

h1,
h2,
h3 {
  color: white;
  margin: 5px;
}
#panelTabla {
  display: none;
}
#panelTabla > table {
 margin: 0 auto;
}

#panelTabla > table > tr > th {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.panel-control {
  display: flex;
  gap: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  width: 100%;
  text-align: center;
  font-size: 0.7rem;
  justify-content: space-around;
}

.panel-control > .material-icons {
  font-size: 35px;
  margin-top: 10px;
}
/*Estrellas del score*/
#stars {
  display: flex;
  color: black;
  flex-direction: column-reverse;
  position: relative;
}

.sub-star {
  color: black;
  transition: color 2s;
}
#numberStars {
  color: black;
  font-size: 50px;
  transition: color 2s;
}

#number-star {
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  color: rgb(248, 70, 70);
  font-size: 2em;
  position: absolute;
  bottom: 0px;
  left: -10px;
  font-size: 2.4em;
}

/* cartell de se busca */
#wanted-poster {
  position: relative;
  z-index: 2;
  animation-timing-function: ease-in;
  animation-name: fall-poster;
  animation-duration: 1.5s;
}
#myCharacter {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
}
/*Timer */

#timer {
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  color: yellow;
  text-align: center;
  font-size: 10px;
}
#timer > h2 {
  margin-bottom: 0px;
}
#timing-wanted {
  font-size: 50px;
}

#panelAbsoluto {
  position: relative;
  height: 100%;
  /* El que es veuria fora del panel no ho mostra*/
  overflow: hidden;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

#panelAbsoluto > img {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  /*animation-name: circle;*/
  animation-duration: 10s;
}

#panelTabla > tr,
td {
  color: white;
  border: 1px solid white;
  padding: 5px;
}
#panelTabla td > button {
  font-size: 18px;
}

.center-next-btn {
  display: none; /*display block al iniciar*/
  background-color: rgba(0, 0, 0, 0.392);
  color: white;
  position: absolute;
  padding: 10px;
  border: 1px solid white;
  border-radius: 6px;
  top: 50%;
  left: 50%;
  font-weight: bold;
  transform: translate(-50%, -50%);
  /*En el dos esta la solucion*/
  z-index: 3;
}

.center-next-btn:hover {
  background-color: white;
  color: black;
  padding: 14px;
  transition: all 0.5s;
}

#footer-wanted {
  display: flex;
  justify-content: space-around;
  align-items: center; /* <---- NEW    */
  color: white;
  padding: 10px;
}
.wanted-icon {
  font-size: 1.5em;
  transition: 0.5s font-size;
}

.wanted-icon:hover {
  cursor: pointer;
}

#wanted-menu-footer {
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  background-color: black;
  text-align: center;
  color: white;
  padding: 20px;
}

#wanted-menu-footer > a {
  text-decoration: underline;
  color: lightblue;
}
