body {
  background-color: #1e1e1e;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%232A2A2A' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23343434'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
  color: #c9d1d9;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0px;
}

header {
  position: fixed;
  display: flex;
  top: 10px;
  width: 100%;
  justify-content: center;
  margin: 0 auto;
  z-index: 1;
}

nav {
  font-size: 0.9rem;
  background-color: #1f2937e6;
  border-radius: 30px;
  padding: 5px 15px 5px 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  a {
    text-decoration: none;
    color: white;
    transition: color 0.5s;
    &:hover {
      color: yellow;
    }
  }
}
aside {
  position: fixed;
  top: 10px;
  left: 10px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 15px;
}

#inicio {
  font-size: 2rem;
  margin-bottom: 0px;
}

.info-profile {
  max-width: 700px;
  font-size: 1.25rem;
}

p {
  text-wrap: wrap;
}
p > a {
  color: #c9d1d9;
}
.presentation {
  display: flex;
  gap: 20px;
  align-items: center;
}

.btn-social-network {
  background-color: #1f2937;
  border: 1px solid #4b5462;
  text-decoration: none;
  min-height: 30px;
  min-width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 5px;
  border-radius: 20px;
  color: white;
  padding-inline: 10px;
  transition: all 0.5s;
  &:hover {
    background-color: black;
    border-color: black;
  }
}

.container {
  max-width: 900px;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.skills {
  flex-wrap: wrap;
  padding: 50px 0px 50px 0px;

  display: flex;
  justify-content: center;
  gap: 10px;
}
.skills > img {
  height: 40px;
  width: 40px;
}

.profile-pic {
  border-radius: 50%;
  float: right;
  height: 150px;
  transition: border-radius 0.5s;
  &:hover {
    border-radius: 40%;
  }
}
.project-icons > img {
  width: 30px;
  height: 30px;
}

.aside-project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  padding-bottom: 30px;
}
h2 {
  margin-top: 60px;
}
h1,
h2,
h3 {
  display: flex;
  align-items: center;
  color: white;
  gap: 10px;
}
h3 {
  margin: 0px 0px 10px 0px;
}
.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: left;
}

.project {
  width: 100%;
  display: flex;
  gap: 40px;
  /*background-color: #2d2d2d;
  border-radius: 10px;*/
}

.project h4 a {
  color: #58a6ff;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.project > img {
  width: 375px;
  object-fit: cover;
  height: 250px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.project-icons {
  display: flex;
  gap: 20px;
}

.btn-project {
  display: flex;
  gap: 10px;
}

.hide-project {
  display: none;
}

#btn-hide-project {
  margin: 0 auto;
  background-color: white;
  border: 1px solid #4b5462;
  min-height: 30px;
  min-width: 80px;

  padding: 5px;
  border-radius: 20px;
  color: black;
  padding-inline: 10px;
  transition: all 0.5s;
  font-size: 1.1rem;
  &:hover {
    cursor: pointer;
    background-color: black;
    color: white;
    border-color: black;
  }
}

.ranking-list {
  list-style: none;
  border-left: 2px solid gray;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.ranking-list li {
  position: relative;
}

.year {
  position: absolute;
  top: 0px;
  left: -90px;
  color: yellow;
}

.dot {
  position: absolute;
  top: -12px;
  left: -46px;
  font-size: 2rem;
}

@media (max-width: 1200px) {
  .presentation,
  .project {
    flex-direction: column;
  }

  aside {
    position: relative;
  }
  .skills {
    padding: 70px 0px 70px 0px;
  }
}

@media (max-width: 760px) {
  .btn-project {
    flex-direction: column;
  }

  .project > img {
    width: 100%;
  }
  .project {
    gap: 5px;
  }

  article {
    margin-bottom: 50px;
  }
}
