body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    position: sticky;
    top: 0px;
    left: 0px;
    font-size: 30px;
    text-align: center;
    background-color: white;
    padding: 10px;
}


#container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    background-color: lightgrey;
    padding: 10px;
    justify-content: center;
}

.card {
    width: 290px;
    background-color: white;
    border-radius: 4px;
    padding: 10px;
    text-align: center;
}




#progress-container {
    background-color: black;
    width: 100%;
    margin-bottom: 10px;
}

#progress-song {
    background-color: green;
    padding: 30px 0px 10px 0px;
    width: 0%;
    transition: width 0.5s;
}

#btn-play-anime {
    border-radius: 50%;
    background-color: green;
    color: white;
    height: 250px;
    width: 250px;
    font-size: 100px;
    transition: background-color 0.5s;
}

.content-guess {
    display: flex;
    justify-content: center;
    align-items: center;
}

#anime-solution{
    flex-direction: column;
    align-items: center;
    display: none; /*flex*/
}
#countdown {
    font-size: 8em;
    text-align: center;
}

#img-anime{
    width: 80%;
}